<table class="table">
<thead>
    <th>Estado</th>
    <th>Casos Confirmados</th>
    <th>Casos Suspeitos</th>
    <th>Número de Mortes</th>
    <!--<th>Ver Detalhes</th>-->
</thead>
<tbody>
    <tr *ngFor="let casocovid of casoscovid">
        <td>{{casocovid.state}}</td>
        <td>{{casocovid.cases}}</td>
        <td>{{casocovid.suspects}}</td>
        <td>{{casocovid.deaths}}</td>
        <!--<td><button class="btn btn-info" [routerLink]="['/casoscovid', casocovid.uf]">
            Detalhes
        </button></td>-->
    </tr>
</tbody>
</table>