<table class="table">
<thead>
    <th>Estado</th>
    <th>Número de Casos</th>
    <th>Ações</th>
</thead>
<tbody>
    <tr *ngFor="let casocovid of casoscovid">
        <td>{{casocovid.uf}}</td>
        <td>{{casocovid.cases}}</td>
        <td><button class="btn btn-info" data-toggle="modal" data-target="#detalharcasos" (click)="onSelect(casocovid)">
            Detalhes
        </button></td>
    </tr>
</tbody>
</table>

<div class="modal fade" id="detalharcasos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="casoselecionado">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <strong>Estado: </strong>{{ casoselecionado.uf }}
          <strong>Número de casos: </strong>{{ casoselecionado.cases}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>